* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: 0;
    text-transform: uppercase;
}
body {
    background-color: #0e1b0a;
    color: #c394c5;
    padding: 20px;
}
main {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}
div{
    margin: 10px 0;
}
img {
    height: 300px
}
input, button {
    width: 20%;
    height: 25px;
    margin: 0 5px;
    color: #0e1b0a;
}
button {
    min-width: 110px;
}
label {
    font-weight: 600;
}
span{
    margin-left: 5px;
    font-weight: 500;
    color: #eee;
}
.grid div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}